<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="GenerarSoap" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://hoperaciones:83/Generar.asmx" binding="basicHttpBinding"
          bindingConfiguration="GenerarSoap" contract="WS_PDF.GenerarSoap"
          name="GenerarSoap" />
    </client>
  </system.serviceModel>
</configuration>